// 定义颜色规范
$color-background-normal: #fff;
$color-background-dark-dd: #3A4B60;
$color-background-dark-d: #5D6E8A;
$color-background-dark: #667999;
$color-background-light: #CFDCEC;
$color-background-light-l: #E3E7F6;

$color-highlight: #20BBE6;

// 定义文本的font-size规范
$font-size-small-ss: 8px;
$font-size-small-s: 9px;
$font-size-small: 10px;

$font-size-medium: 12px;
$font-size-medium-m: 14px;
$font-size-medium-mm: 16px;

$font-size-large: 20px;
$font-size-large-l: 26px;
$font-size-large-ll: 32px;